<div class="app-delete-role-dialog">
  <div mat-dialog-title class="mat-dialog-title">
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">error_outline</mat-icon>
      </div>
      <span class="title pl-1">{{'DELETE_ROLE_DIALOG.TITLE' | translate}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="mat-body-1">{{'DELETE_ROLE_DIALOG.DESC1' | translate}}</div>
    <div class="font-weight-bold my-1">{{role.roleName}}</div>
    <div class="mat-body-1" style="word-wrap:break-word;">{{'DELETE_ROLE_DIALOG.DESC2' | translate}}</div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="warn" type="submit" [disabled]="isSaving" (click)="confirm()">
      <div class="d-flex align-items-center">
        <div [class.d-none]="isSaving">{{'DELETE_ROLE_DIALOG.CONFIRM' | translate}}</div>
        <mat-progress-spinner mode="indeterminate" diameter="24" [class.d-none]="!isSaving">
        </mat-progress-spinner>
      </div>
    </button>
    <button type="button" mat-button mat-dialog-close>{{'DELETE_ROLE_DIALOG.CANCEL' | translate}}</button>
  </div>
</div>
