<div class="app-reset-password-requested h-100 w-100 d-flex justify-content-center align-items-center">
    <form>
        <div class="d-flex flex-column justify-content-center align-items-center p-4">
            <div class="d-flex align-items-centre"><mat-icon class="material-icons-outlined checked-circle">verified</mat-icon></div>
            <div class="mat-headline mt-2">{{'RESET_PASS_REQ.EMAIL_SENT' | translate}}</div>
            <div [innerHTML]="('RESET_PASS_REQ.CHECK_YOUR_EMAIL_DESC' | translate)" class="mat-body-1"></div>
            <div class="mt-2">
                <button mat-flat-button color="primary" routerLink="/login">{{'RESET_PASS_REQ.SIGN_IN_NOW' | translate}}</button>
            </div>
        </div>
    </form>
</div>

