.app-reset-password-requested {
    form {
        width: 380px;
        border-radius: 16px;
    }

    .description {
        word-break: break-word;
    }

    mat-icon {
        font-size:64px;
        width:auto;
        height:auto;
    }
}


