.app-update-password-dialog {
    min-width: 280px;
}

.mat-button {
    width: 80px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-requirements {
    word-wrap: break-word;
}