.app-module-user {
    height:100%;

    .module-body {
        height: calc(100% - 40px);
        overflow:auto;

        .data-container {
            height: calc(100% - 65px);
            overflow:auto;
        }
    }

    .sort-by {
        min-width:fit-content;
        padding-left:4px;
        padding-right:4px;
    }
}

.shimmer-card {
  width: 360px;
  height: 108px;
  border-radius: 8px;
}

.empty-icon {
    font-size: 64px;
    width:fit-content;
    height:fit-content;
}
