.app-login-form {
    .language-picker {
        position:absolute;
        right: 10px;
        top: 10px;
    }

    .form {
        width:380px;
        border-radius: 16px;
    }

    mat-label {
        display: flex;
        align-items: center;
      
        mat-icon {
            display: flex;
            align-items: center;
            font-size: 20px;
        }
    }


}


