.app-sign-up-success {
    .form {
        width: 380px;
        border-radius: 16px;
    
        mat-icon {
            font-size:64px;
            width:auto;
            height:auto;
        }
    }
}
