<div class="app-update-user-password-dialog">
  <div mat-dialog-title>
    <div class="d-flex align-items-center">
      <div class="circle">
        <mat-icon class="material-icons-outlined">password</mat-icon>
      </div>
      <span class="pl-1">{{'UPDATE_USER_PASS_DIALOG.TITLE' | translate}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <form id="my_form" [formGroup]="form" (ngSubmit)="submitForm()" class="d-flex flex-column">
      <mat-label class="font-weight-bold">{{'UPDATE_USER_PASS_DIALOG.NEW_PASSWORD' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" [floatLabel]="'never'" appearance="outline">
        <input type="password" matInput formControlName="password" />
        <button tabindex="-1" type="button" *ngIf="form.controls['password'].value" matSuffix mat-icon-button
                aria-label="Clear" (click)="form.controls['password'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['password'].errors?.['required']">
          {{'UPDATE_USER_PASS_DIALOG.REQUIRED_FIELD' | translate}}
        </mat-error>
        <mat-error *ngIf="form.controls['password'].errors?.['passwordStrength'] == 'uppercase_needed'">
          {{'UPDATE_USER_PASS_DIALOG.UPPERCASE_NEEDED' | translate}}
        </mat-error>
        <mat-error *ngIf="form.controls['password'].errors?.['passwordStrength'] == 'lowercase_needed'">
          {{'UPDATE_USER_PASS_DIALOG.LOWERCASE_NEEDED' | translate}}
        </mat-error>
        <mat-error *ngIf="form.controls['password'].errors?.['passwordStrength'] == 'number_needed'">
          {{'UPDATE_USER_PASS_DIALOG.NUMBER_NEEDED' | translate}}
        </mat-error>
        <mat-error *ngIf="form.controls['password'].errors?.['passwordStrength'] == 'special_character_needed'">
          {{'UPDATE_USER_PASS_DIALOG.SPECIAL_CHARACTER_NEEDED' | translate}}
        </mat-error>
        <mat-error *ngIf="form.controls['password'].errors?.['passwordStrength'] == 'length_needed'">
          {{'UPDATE_USER_PASS_DIALOG.LENGTH_NEEDED' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-label class="font-weight-bold">{{'UPDATE_USER_PASS_DIALOG.CONFIRM_PASSWORD' | translate}}</mat-label>
      <mat-form-field class="w-100" [hideRequiredMarker]="true" appearance="outline">
        <input type="password" matInput formControlName="confirmPassword" />
        <button tabindex="-1" type="button" *ngIf="form.controls['confirmPassword'].value" matSuffix
                mat-icon-button aria-label="Clear" (click)="form.controls['confirmPassword'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls['confirmPassword'].errors?.['required']">
          {{'UPDATE_USER_PASS_DIALOG.REQUIRED_FIELD' | translate}}
        </mat-error>
        <mat-error *ngIf="form.controls['confirmPassword'].errors?.['confirmPassword']">
          {{'UPDATE_USER_PASS_DIALOG.PASSWORD_NOT_MATCHED' | translate}}
        </mat-error>
      </mat-form-field>
    </form>
    <div class="my-2 mat-caption password-requirements">
      {{'UPDATE_USER_PASS_DIALOG.PASSWORD_REQUIREMENT' | translate}}<br>
      {{'UPDATE_USER_PASS_DIALOG.PR1' | translate}}<br>
      {{'UPDATE_USER_PASS_DIALOG.PR2' | translate}}<br>
      {{'UPDATE_USER_PASS_DIALOG.PR3' | translate}}<br>
      {{'UPDATE_USER_PASS_DIALOG.PR4' | translate}}<br>
      {{'UPDATE_USER_PASS_DIALOG.PR5' | translate}}<br>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" type="submit" form="my_form" [disabled]="(!form.valid || isSaving)">
      <div class="d-flex align-items-center">
        <div [class.d-none]="isSaving">{{'UPDATE_USER_PASS_DIALOG.SUBMIT' | translate}}</div>
        <mat-progress-spinner mode="indeterminate" diameter="24" [class.d-none]="!isSaving">
        </mat-progress-spinner>
      </div>
    </button>
    <button type="button" mat-button mat-dialog-close>{{'UPDATE_USER_PASS_DIALOG.CANCEL' | translate}}</button>
  </div>
</div>
